section {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;

    &:last-child {
      border-top: 1px solid #404040;
    }

    &:hover {
      cursor: pointer;
    }
  }

  span {
    margin-left: 1rem;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
  }
}
