<section>
  <div class="controls">
    <i class="material-icons" title="Shuffle">shuffle</i>
    <i class="material-icons" title="Previous">skip_previous</i>

    <i
      class="material-icons pause"
      *ngIf="audioPlayerStateService.playerState === PlayerEnum.PLAYING"
      (click)="onPause()"
      title="Pause"
    >
      pause_circle_outline
    </i>

    <i
      class="material-icons play"
      *ngIf="audioPlayerStateService.playerState === PlayerEnum.PAUSED"
      (click)="onPlay()"
      title="Play"
      >play_circle_outline</i
    >

    <i class="material-icons" title="Next">skip_next</i>

    <i
      class="material-icons"
      *ngIf="audioPlayerStateService.repeatState === RepeatEnum.REPEAT"
      (click)="onRepeat()"
      title="Repeat"
      >repeat</i
    >

    <i
      class="material-icons"
      [class.active]="
        audioPlayerStateService.repeatState === RepeatEnum.REPEAT_ONE
      "
      *ngIf="audioPlayerStateService.repeatState === RepeatEnum.REPEAT_ONE"
      (click)="onRepeatOnce()"
      title="Repeat Once"
      >repeat_one</i
    >
  </div>
  <div class="player">
    <span>{{ music.musicCurrentSecond * 1000 | date: 'mm:ss' }}</span>
    <input
      type="range"
      min="0"
      [max]="music.musicLength"
      [(ngModel)]="music.musicCurrentSecond"
    />
    <span>{{ music.musicLength * 1000 | date: 'mm:ss' }}</span>
  </div>
</section>
