@import '../../../assets/styles/variables.scss';

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;

    .active {
      color: $app-active;

      &:hover {
        color: $app-active;
        opacity: 0.9;
      }
    }

    i {
      font-size: 1.25rem;
      margin: 0 0.5rem;
    }

    i.pause,
    i.play {
      font-size: 2rem;
    }

    i:hover {
      cursor: pointer;
      color: $hover-color;
    }
  }

  .player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    width: 100%;

    span {
      font-size: 11px;
    }

    input {
      -webkit-appearance: none;
      margin: 0 0.5rem;
      width: 100%;
      height: 0.25rem;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background: $hover-color;
      }

      // Firefox
      &::-moz-range-progress {
        background: $app-active;
      }

      // IE
      &::-ms-fill-upper {
        background: #404040;
      }

      &:hover {
        background: $app-active;

        // IE
        &::-ms-fill-lower {
          background: $app-active;
        }

        // IE
        &::-ms-fill-upper {
          background: #404040;
        }
      }
    }
  }
}
