section {
  width: 14.375rem;
  height: 100%;
  padding-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;

  spotify-logo {
    height: 3.9375rem;
    width: 100%;
  }
}
