@import '../../../assets/styles/variables.scss';

section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  i {
    padding: 0 0.25rem;

    &:hover {
      cursor: pointer;
      color: $hover-color;
    }
  }

  .volume-container {
    display: flex;
    align-items: center;

    .volume {
      -webkit-appearance: none;
      width: 6rem;
      height: 0.25rem;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background: $hover-color;
      }

      // Firefox
      &::-moz-range-progress {
        background: $app-active;
      }

      // IE
      &::-ms-fill-upper {
        background: #404040;
      }

      &:hover {
        background: $app-active;

        // IE
        &::-ms-fill-lower {
          background: $app-active;
        }

        // IE
        &::-ms-fill-upper {
          background: #404040;
        }
      }
    }
  }
}
