section {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  height: 100%;

  & > span {
    text-align: left;
    font-size: 11px;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    padding: 0 1.5rem;
  }

  .add {
    height: 3.875rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    &:hover {
      cursor: pointer;
      color: #fff;
    }

    i {
      padding: 0.25rem;
      margin-right: 0.5rem;
      font-size: 2rem;
    }

    span {
      font-weight: bold;
      text-transform: none;
      font-size: 14px;
    }
  }

  .list {
    overflow-y: auto;

    span {
      position: relative;
      line-height: 2rem;
      height: 2rem;
      display: block;
      padding: 0 1.5rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      overflow: hidden;

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }

    .active::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: #1ed760;
    }
  }
}
